.bold {
    font-weight: 600;
    text-transform: uppercase;
  }
  .App {
    width:100%;
    height: 100%;
    background-color: #f1f2f3;
    padding: 56px 0px;
    h4{
      font-size: 40px;
      font-weight: 700;
      padding-bottom: 57px;
    }
    .leftCards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 1rem;
        width: 765px;
        .card{
          height: 145px;
          .card-face{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            img{
              width: 40px;
              height: auto;
            }
          }
        }
        .card.is-flipped{
          img{
            height: 100%;
            object-fit: cover;
            width: 100%;
            border-radius: 4px;
          }
        }
      }
      .rightCard{
        background: #FBFBFB;
        border-radius: 4px;
        padding: 15px;
        margin-left: 56px;
        h6{
          padding-bottom: 20px;
        }
        .scroe{
          border-bottom: 1px solid #B2B2B2;
          padding-bottom: 28px;
          margin-bottom: 28px;
        }
        h5{
          font-size: 35px;
          padding-bottom: 20px;
          font-weight: 700;
          span{
            color: #1890FF;
          }
        }
        .selectBox{
          display: flex;
          align-items: center;
          margin-bottom: 35px;
           .MuiInputBase-input{
            padding: 8px 14px;
          }
        }
        button{
          text-transform: capitalize;
        }
      }
    header {
      position: relative;
      width: 100%;
      text-align: center;
      margin-bottom: 8px;
  
      > div {
        font-size: 15px;
        width: 324px;
        text-align: center;
        margin: 0 auto;
      }
    }
    
    footer {
      width: 360px;
      position: relative;
      margin: 0 auto;
      padding: 10px 4px;
      margin-top: 10px;
      
      .score {
        justify-content: center;
        display: flex;
  
        div {
          padding: 8px
        }
      }
  
      .restart {
        display: flex;
        justify-content: center
      }
    }
  }